# the IP(s) on which your node server is running i choose the port 8080
upstream app_YOUR_SITE_NAME {
    server 127.0.0.1:8080;
}
  server {
    listen 80 default deferred;
    expires 1M;
    
    #force lowercase
    rewrite ^/(.*[A-Z].*) $scheme://$host$uri_lowercase permanent;
    #force no trail
    rewrite ^/(.*)/$ $scheme://$host/$1 permanent;
    
    #static assets
        location ~* ^.+(js/)|\.(html?|less|ico|ogg|ogv|svgz?|eot|otf|woff|mp4|ttf|css|rss|atom|jpe?g|gif|png|ico|zip|tgz|gz|rar|bz2|docx?|xls|exe|ppt|tar|midi?|wav|bmp|rtf|webp|appcache|manifest|htc|crx|oex|xpi|safariextz|vcf|pdf|xml|oga|m4a|m4v|webm)$ {
        expires max;
        root    YOUR_SITE_DIRECTORY;
        access_log logs/static.log;
    }
    # pass the request to the node.js
    location / {
	proxy_pass http://app_YOUR_SITE_NAME/;
	proxy_redirect off;
    }


  }
  #force no www.
  server {
    server_name www.YOUR_SITE_NAME.com;
    rewrite ^(.*) $scheme://YOUR_SITE_NAME.com$1 permanent;
  }


